language: ruby
sudo: false
cache: bundler
services:
  - postgresql
jdk:
  - openjdk8
rvm:
  - ruby-2.7
  - ruby-2.6
  - ruby-2.5
  - jruby
gemfile:
  - gemfiles/ar60.gemfile
  - gemfiles/ar52.gemfile
  - gemfiles/ar51.gemfile
env:
  global:
    - JRUBY_OPTS="--dev --debug"
  matrix:
    - ADAPTER="postgresql"
    - ADAPTER="sqlite3"
matrix:
  allow_failures:
    - rvm: jruby
      env: ADAPTER="sqlite3"
    - rvm: ruby-2.7
